<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            background-color: white;
            margin-top: 50px;
            border-radius: 10px;
            box-shadow: 0 0 50px rgb(209, 209, 209);
            margin-bottom: 150px;
        }
        tr:nth-child(even) {
            background-color: rgb(239, 239, 239);
        }
    </style>
</head>
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>
<body>
    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <table cellpadding="10" align="center">
            <tr>
                <td colspan="5" align="right"><a href="{% url 'ShopManager:shophomepage' %}">Home</a></td>
            </tr>
            <tr>
                <td>#</td>
                <td>Customer</td>
                <td>Shop</td>
                <td>Purchase Date</td>
                <td>Action</td>
                
            </tr> 
            {% for i in purchase %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.customer.customer_name}}</td>
                <td>{{i.shop.shop_name}}</td>
                <td>{{i.purchase_date|date}}</td>
                <td>
                    {% if i.feedback == 0 %}
                    <a href="{% url 'ShopManager:customerproduct' i.id %}">Products</a>        
                    {% else %}
                    <span>FeedBack Sended</span>
                    {% endif %}
                </td>        
            </tr>
            {% endfor %}
        </form>
        </table>
</body>
</html>