{% extends 'Admin/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <table align="center" cellpadding="10">
                    <tr>
                        <td>Brand</td>
                        <td><input type="text" name="Brand" id="" class="form-control" value="{{editbrand.brand_name}}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2 align="center"><input type="submit" value="submit" class="btn btn-primary"> </td>

                    </tr>
                </table>
            </div>
        </div>
    </form>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'Admin:Brand' %}"
    </script>
    {% endif %}
    <br>
    <div class="col-sm-12 col-xl-6">
        <div class="bg-light rounded h-100 p-4">
            <table class="table table-hover">
                <tr>
                    <td>#</td>
                    <td>Brands</td>
                    <td colspan="2">Action</td>
                </tr>
                {% for i in brand %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.brand_name}}</td>
                    <td><a href="{% url 'Admin:deletebrand' i.id %}">Delete</a></td>
                    <td><a href="{% url 'Admin:editbrand' i.id %}">Edit</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>
{% endblock content %}